h2 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: auto;
  padding: 30px 10px;
}

.section-content {
  padding: 30px 10px;
}

.footer-links {
  color: white;
}

/* a:hover {
  color: gold;
} */

.newsletter {
  background-color: #272727;
  padding: 25px 0px;
  color: white; }

.features {
  background-color: #d0d0d0;
  padding: 25px 0px;
}

.foots {
  background-color: #1a1a1a;
  padding: 25px 0px;
  color: white;
}

.cHead {
  background-color: #66626f;
  color: white;
}

body {
  background-color: #f1f1f1;
}

.loginFixed {
  position: fixed;
  top: 0;
  right: 0;
  /* left: auto; */
  /* z-index: 1030; */
  margin-top: 4px;
  /* margin-right: 20px; } */
}

.half-wide {
  width: 50%;
}

.carousel-inner {
  max-height: 750px;
}

.rule {
  margin: 30px 0px;
  height: 1px;
  border: none;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #acacac)); 
  /* padding: 40px 10px */
}

.searchArt {
  font-family:Arial, FontAwesome;
  margin-bottom: 0rem;
  border: none;
  background-color: #f1f1f1;
}

.logo {
  width: 5em;
  margin-left: 12px;
  margin-right: 10px;
}